BIG DATA

OSCAR ROCHA GOMEZ

ANÁLISIS DE DATOS DE ACUEROD CON EL DATA SET

In [25]:
import pandas as pd # Manejo y análisis de estructuras de datos
import numpy as np # Cálculo numérico y el análisis de datos
import seaborn as sns # Creación gráficos estadísticos
import matplotlib.pyplot as plt # Creación de gráficos en dos dimensiones
import plotly.express as px
# librerías de para implementar modelos de ciencia de datos
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler

PASO 1

Realizar un análisis exploratorio de los datos Y ELIMINAR DATOS NULLOS

In [27]:
# lectura de datos en Python y lo cargamos en la variable Datos
datos = pd.read_csv("C:\\Users\\Oscar Rocha Gomez\\Downloads\\osb_tnatalidad.csv")

In [7]:
# Realizamos lectura de los Datos para el análisis exploratorio
datos.head(40)

   ANO;LOCALIDAD_MADRE;EDAD_MADRE;SEXO;REGIMEN_SEGURIDAD_SOCIAL;TOTAL_NACIDOS
0      2009;00 - Bogotá;18;Femenino;Contributivo;1039
1      2009;00 - Bogotá;27;Femenino;Contributivo;1934
2     2009;00 - Bogotá;25;Masculino;Contributivo;2052
3      2009;00 - Bogotá;17;Masculino;No Asegurado;491
4      2009;00 - Bogotá;29;Femenino;Contributivo;2093
5     2009;00 - Bogotá;22;Masculino;Contributivo;1785
6      2009;00 - Bogotá;39;Masculino;Contributivo;560
7      2009;00 - Bogotá;26;Femenino;Contributivo;1910
8      2009;00 - Bogotá;25;Femenino;Contributivo;1868
9         2009;00 - Bogotá;27;Femenino;Subsidiado;429
10     2009;00 - Bogotá;21;Femenino;Contributivo;1591
11      2009;00 - Bogotá;19;Masculino;Subsidiado;1018
12    2009;00 - Bogotá;18;Masculino;Contributivo;1052
13    2009;00 - Bogotá;30;Masculino;Contributivo;1990
14     2009;00 - Bogotá;22;Femenino;Contributivo;1662
15        2009;00 - Bogotá;25;Femenino;Subsidiado;508
16          2009;00 - Bogotá;19;Femenino;Excepción;35
17     2009;00 - Bogotá;25;Masculino;No Asegurado;439
18     2009;00 - Bogotá;37;Masculino;Contributivo;760
19    2009;00 - Bogotá;19;Masculino;Contributivo;1288
20       2009;00 - Bogotá;18;Masculino;Subsidiado;898
21      2009;00 - Bogotá;18;Femenino;No Asegurado;643
22    2009;00 - Bogotá;32;Masculino;Contributivo;1603
23     2009;00 - Bogotá;20;Femenino;Contributivo;1505
24      2009;00 - Bogotá;17;Femenino;Contributivo;971
25     2009;00 - Bogotá;28;Femenino;Contributivo;2020
26     2009;00 - Bogotá;23;Femenino;Contributivo;1773
27       2009;00 - Bogotá;25;Masculino;Subsidiado;526
28        2009;00 - Bogotá;24;Femenino;Subsidiado;566
29     2009;00 - Bogotá;31;Femenino;Contributivo;1675
30       2009;00 - Bogotá;22;Masculino;Subsidiado;755
31        2009;00 - Bogotá;26;Femenino;Subsidiado;494
32    2009;00 - Bogotá;27;Masculino;Contributivo;2103
33     2009;00 - Bogotá;18;Masculino;No Asegurado;686
34         2009;00 - Bogotá;31;Masculino;Excepción;70
35      2009;00 - Bogotá;30;Femenino;No Asegurado;200
36       2009;00 - Bogotá;17;Masculino;Subsidiado;810
37     2009;00 - Bogotá;36;Masculino;No Asegurado;111
38    2009;00 - Bogotá;23;Masculino;Contributivo;1873
39           2009;00 - Bogotá;19;Masculino;Sin Dato;9

In [29]:
import pandas as pd
natalidad = pd.read_csv("C:\\Users\\Oscar Rocha Gomez\\Downloads\\osb_tnatalidad.csv")
natalidad

      ANO;LOCALIDAD_MADRE;EDAD_MADRE;SEXO;REGIMEN_SEGURIDAD_SOCIAL;TOTAL_NACIDOS
0         2009;00 - Bogotá;18;Femenino;Contributivo;1039
1         2009;00 - Bogotá;27;Femenino;Contributivo;1934
2        2009;00 - Bogotá;25;Masculino;Contributivo;2052
3         2009;00 - Bogotá;17;Masculino;No Asegurado;491
4         2009;00 - Bogotá;29;Femenino;Contributivo;2093
...                                                  ...
69968   2024;06 - Tunjuelito;33;Masculino;No Asegurado;1
69969     2024;02 - Chapinero;39;Femenino;No Asegurado;1
69970   2024;14 - Los Mártires;40;Masculino;Subsidiado;1
69971     2024;02 - Chapinero;32;Femenino;No Asegurado;1
69972          2024;Sin Dato;16;Masculino;Contributivo;1

[69973 rows x 1 columns]

In [41]:
# Descripción de los datos
datos.describe()

       ANO;LOCALIDAD_MADRE;EDAD_MADRE;SEXO;REGIMEN_SEGURIDAD_SOCIAL;TOTAL_NACIDOS
count                                               69973
unique                                              69973
top        2009;00 - Bogotá;18;Femenino;Contributivo;1039
freq                                                    1

2. Preprocesar los datos limpiándolos, tratando valores faltantes y transformándolos según sea necesario

In [45]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69973 entries, 0 to 69972
Data columns (total 1 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   ANO;LOCALIDAD_MADRE;EDAD_MADRE;SEXO;REGIMEN_SEGURIDAD_SOCIAL;TOTAL_NACIDOS  69973 non-null  object
dtypes: object(1)
memory usage: 546.8+ KB

In [47]:
datos.head()

  ANO;LOCALIDAD_MADRE;EDAD_MADRE;SEXO;REGIMEN_SEGURIDAD_SOCIAL;TOTAL_NACIDOS
0     2009;00 - Bogotá;18;Femenino;Contributivo;1039
1     2009;00 - Bogotá;27;Femenino;Contributivo;1934
2    2009;00 - Bogotá;25;Masculino;Contributivo;2052
3     2009;00 - Bogotá;17;Masculino;No Asegurado;491
4     2009;00 - Bogotá;29;Femenino;Contributivo;2093

In [ ]:
# Hacemos que cambie la variable 0 y 1 por falso y verdadero para ayudar a nuestro modelo

In [49]:
datos.head()

  ANO;LOCALIDAD_MADRE;EDAD_MADRE;SEXO;REGIMEN_SEGURIDAD_SOCIAL;TOTAL_NACIDOS
0     2009;00 - Bogotá;18;Femenino;Contributivo;1039
1     2009;00 - Bogotá;27;Femenino;Contributivo;1934
2    2009;00 - Bogotá;25;Masculino;Contributivo;2052
3     2009;00 - Bogotá;17;Masculino;No Asegurado;491
4     2009;00 - Bogotá;29;Femenino;Contributivo;2093

In [51]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69973 entries, 0 to 69972
Data columns (total 1 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   ANO;LOCALIDAD_MADRE;EDAD_MADRE;SEXO;REGIMEN_SEGURIDAD_SOCIAL;TOTAL_NACIDOS  69973 non-null  object
dtypes: object(1)
memory usage: 546.8+ KB